/* Footer Container */
.footer {
    background: linear-gradient(135deg, #dc2626, #b91c1c, #7f1d1d);
    background-size: 400% 400%;
    animation: gradientMove 10s ease infinite;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: #fff;
    padding: 40px 20px 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.footer .container {
    max-width: 1200px;
    margin: auto;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.footer-column {
    flex: 1 1 220px;
    min-width: 220px;
}

.footer-column img {
    height: 80px;
    margin-left: 70px;
}

.footer-column h4 {
    font-size: 25px;
    margin-bottom: 15px;
    position: relative;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.footer-column h4 span {
    color: #fecaca;
}

.footer-column p,
.footer-column li,
.footer-column a {
    font-size: 17px;
    line-height: 1.6;
    color: #f1f1f1;
    text-decoration: none;
}

.footer-column ul {
    list-style: none;
    padding-left: 0;
}

.footer-column ul li a {
    margin-bottom: 15px;
    position: relative;
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

.footer-column ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #fecaca;
    transition: width 0.3s ease;
}

.footer-column ul li a:hover {
    color: #fecaca;
    transform: scale(1.05);
}

.footer-column-map {
    position: relative;
    width: 100%;
    max-width: 600px;
    aspect-ratio: 16 / 9;
    height: 250px;
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.footer-column-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer-column-map:hover {
    transform: scale(1.05);
}

.copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    padding-top: 15px;
    margin-top: 30px;
    font-size: 14px;
    color: #ccc;
    position: relative;
}

/* Responsif */
@media (max-width: 992px) {
    .footer-container {
        justify-content: center;
    }

    .footer-column {
        flex: 1 1 45%;
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        text-align: center;
        width: 100%;
        padding: 0 10px;
    }

    .footer-column {
        flex: 1 1 100%;
        width: 100%;
        min-width: unset;
    }

    .footer-column-map {
        width: 100%;
        height: 200px;
    }
}
